.TopNavbar__Container {
  position: sticky;
  left: 0px;
  top: 0px;
  width: 100%;
  max-width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 12px;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  .TopNavbarContent {
    max-width: 1024px;
    width: 100%;
    padding: 0.8rem 0;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .LeftWrap {
      display: flex;
      flex: 1 1 0%;
      gap: 2.5rem;
      align-items: center;
      .LocationWrap {
        display: flex;
        gap: 0.2rem;
        font-size: 0.875rem;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        color: var(--neutral-primary);
        cursor: pointer;
        svg {
          font-size: 1.2rem;
          color: var(--success-primary);
        }
      }
    }
    .MiddleWrap {
      display: flex;
      gap: 1.5rem;

      .BusinessButton {
        cursor: pointer;
        background: none;
        border: medium none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
        color: var(--neutral-primary);
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1rem;
        letter-spacing: 0.2px;
        svg {
          font-size: 1.2rem;
        }
        &:hover {
          color: rgb(0, 210, 144);
        }
      }
    }
    .RightWrap {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      .SearchIcon {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: center;
        svg {
          margin: 0 auto;
          font-weight: none;
          height: 1.5rem;
          width: 1.75rem;
        }
        &:hover {
          color: rgb(0, 179, 122);
          svg {
            color: rgb(0, 179, 122);
            stroke: rgb(0, 179, 122);
          }
        }
      }
      .CartIcon {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: center;
        svg {
          margin: 0 auto;
          font-weight: none;
          height: 1.5rem;
          width: 1.75rem;
        }
        &:hover {
          color: rgb(0, 179, 122);
          svg {
            color: rgb(0, 179, 122);
            fill: rgb(0, 179, 122);
          }
        }
      }
      .SignInButtonWrap {
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: center;
        .SignInButton {
          cursor: pointer;
          font-size: 0.875rem;
          color: rgb(255, 255, 255);
          background: rgb(0, 210, 144);
          padding: 0.5rem 1.25rem;
          border-radius: 1.875rem;
          font-weight: bold;
          border: none;
        }
      }
    }
  }
}
.NavbarBottom__Container {
  width: 100%;
  height: 44px;
  background: linear-gradient(
    90.05deg,
    rgb(9, 17, 37) -2.5%,
    rgb(33, 61, 133) 100.83%
  );
  .NavbarBottomContent {
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .LeftWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .PanItemsImage {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        padding: 0px;
        background-color: rgba(255, 255, 255, 0.24);
        .Icon {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .HeaderMessage{
        color: var(--white);
      }
    }
    .RightWrap{
      .DownloadAppButton{
        display: flex;
        align-items: center;
        gap: 0.3rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: rgb(0, 179, 122);
      }
    }
  }
}
